* {
    box-sizing: border-box;
    margin: 0;
    transition: .5s all linear;
}

html {
    font-size: 10px;
}

body {
    background-color: #fff;
    font-family: "Nunito", sans-serif;
    color:#5b5766;
    font-size: 1.8rem;
    line-height: 1.5;
}

h1,h2,h3 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: #554d89;
}

/* -----------HEADER------------- */
.btn {
    border: none;
    text-decoration: none;
    border-radius: 40px;
    height: 40px;
    padding: 0 1.5rem;
    font-family: "Poppins", sans-serif;
    color: #554d89;
    cursor: pointer;

}
.btn-light {
    background-color: transparent;
    border: #6852ed solid;
    font-size: 1.4rem;
    color:#6852ed;
}
.btn-dark {
    color: #fff;
    height: 5rem;
    background: linear-gradient(26.57deg, #6852ED 16.67%, #BA43FC 100%);
    border-radius: 40px;
    padding: 1.3rem 3rem;
}
.link {
    border: none;
    background-color: transparent;
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    color: #554D89;
    cursor: pointer;
}
.link:hover {
    text-shadow: 0 0 1px #554D89;
}
.link-arrow::after {
    content:'\f061';
    font-family: FontAwesome;
    margin-left: 1.5rem;
}
.header-actions__text {
    display: inline-block;
    margin: 0 0.5rem;

}
.divider {
    border: none;
    border-bottom: 1px solid #e1e4ed;
}
.wrapper {
    width: 1146px;
    margin: 0 auto;
}
.top-header {
    display: flex;
    justify-content: space-between; 
    padding: 2.4rem 0 1.7rem ;
    font-size: 1.6rem;
    letter-spacing: .22rem;
}

.top-header__text {
    color: #716c80;
    font-size: 1.6rem;
}
.top-header__phone {
    text-decoration: none;
    color: #716c80;
    transition: 0.6s all;
}
.top-header__phone:hover {
    text-decoration: underline;
}

 .top-header__phone::before {
    content: '\f095';
    font-family: FontAwesome;
    margin-right: 0.8rem;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}
.header-navbar {
    display: flex;
    align-items: center;
}
.header__logo {
    display: block;
    margin-right: 5.8rem;
}
.header__menu {
    display: flex;
}
.header__menu-item {
    margin-right: 3rem;
    position: relative;
    padding: 1.8rem 0;

    transition: .4s all;
}
.header__menu-item:last-child {
    margin-right: 0;
}
.header__submenu {
    display: none;
    position: absolute;
    top: 5.4rem;
    left: -3rem;
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 #e1e4ed;
    background-color: #ffffff;

    transition: .4s all;
}
.header__submenu > .header__menu-item {
    padding: 0;
    margin-bottom: 1rem;
}
.header__submenu > .header__menu-item:last-child {
    margin-bottom: 0;
}
.header__menu-item:hover .header__submenu {
    display: block;
}
.header__menu-link {
    text-decoration: none;
    color: #5B5766;
    font-weight: 400;
    font-size: 1.6rem;

    transition: .4s all;
}
.header__menu-link:hover {
    color: #554d89;
    text-shadow: 0 0 1px #554d89 ;
}

.header__menu-link_active {
    color:#554d89;
    font-weight: 700;
}

/* -----------FIRST SECTION------------- */
.stage {
    margin-top: 11.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stage > img {
    margin-top: -3rem;
}

.stage__content {
    position: relative;
    top: -7rem;
}

.stage__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 5rem;
    line-height: 6rem;
    color:#554d89;
    margin-bottom: 3.2rem;
}
.stage__text {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 4rem;
}

.stage__actions .btn-dark {
    margin-right: 3rem;

}

.btn-bottom {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 11rem;
    height: 11rem;
    background-color: #6852ed;
    border-radius: 50%;
    display: flex;
    text-decoration: none;
    color: #fff;
}
.btn-bottom > i {
    margin: auto;
    font-size: 5rem;
   
}

/* --------INFOBLOCK------- */
.features {
    margin-top: 12rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30rem;
}
.infoblock {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px #E1E4ED;
    border-radius: 10px;
    padding: 3rem;
    width: 36rem;
}

.infoblock:hover {
    background: linear-gradient(26.57deg, #6852ED 16.67%, #BA43FC 100%);
    box-shadow: 0px 0px 20px rgba(104, 82, 237, 0.8);
    color: #fff;
    box-sizing: border-box;
}
.infoblock .fa-solid {
    font-size: 3.2rem;
    color: #6852ED;
}

.infoblock__title {
    font-size: 2.2rem;
    margin-bottom: 1.9rem;
}
.infoblock__text {
    color: #716c80;
}
.infoblock__link {
    display: none;
    color:#fff;
    padding-top: 3rem;
}
.infoblock:hover .fa-solid {
    display: none;
    box-sizing: border-box;
}

.infoblock:hover .infoblock__title {
    color:#fff;
    box-sizing: border-box;
}

.infoblock:hover .infoblock__text {
    color:#fff;
}

.infoblock:hover .infoblock__link {
    display: inline-block;
}

/* --------ARTICLE-------- */
.article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10rem;
    margin-bottom: 12rem;
}
.article__reverse {
    flex-direction: row-reverse;
    
}
.article__image, .article__content {
    width: 50%;
    flex-shrink: 0;
}
.article__content {
    padding-left: 3rem ;
}
.article__title {
    font-size: 2.8rem;
    line-height: 1.5;
    color: #554D89;
    margin-bottom: 3rem;
}
.article__text {
    font-size: 1.8rem;
    line-height: 1.5;
    color: #716C80;
    margin-bottom: 6rem;
}
.article .btn {
    margin-right: 3rem;
}
/* -----------BG------------ */
.bg {
    display: block;
    margin: 0 auto;
    max-width: 192rem;
    height: 48rem;
    background: no-repeat center url("/img/Backgroundbg.png");
    margin-bottom: 12rem;
    
}

.bg__content {
    padding-top: 13rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
    flex-direction: column;
}

.bg__content button {
    border-radius: 90%;
    width: 8rem;
    height: 8rem;
    color: linear-gradient(26.57deg, #6852ED 16.67%, #BA43FC 100%);
    margin-bottom: 2.4rem;
}
.bg__content button .fa-solid {
    font-size: 3rem;
}

.bg__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 2.8rem;
    line-height: 1.5;
    color: #554D89;
    margin-bottom: 1.9rem;
}

.bg__text {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.5;
    /* or 156% */

    text-align: center;

    color: #5B5766;
}

/* -------ARTICLE__TWO--------- */
.article__content__reverse {
    margin-right: 7.1rem;
}

.article__text-reverse {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    margin-bottom: 4.7rem;

    color: #716C80;
}

/* ------FEATURES-TWO--------- */
.features__two {
    position: relative;
    margin-bottom: 14rem;
    
}
.features__actions {
    width: 80rem;
    height: 52.2rem;
    display: flex;
    flex-wrap: wrap;
}

.features__actions .infoblock {
    width: 36rem;
    height: 22.9rem;
    margin-right: 2rem;
}

.features__actions .infoblock:nth-child(even) {
    margin-right: 0;
}

.features__content {
    position: absolute; 
    left: 70%;
    top: 20%;
}

.features__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 46px;
    /* or 135% */
    margin-bottom: 3rem;


    color: #554D89;
}

.features__text {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 156% */
    margin-bottom: 4.7rem;

    color: #716C80;
}

.features__content > button {
    color: #fff;
    height: 5rem;
    background: linear-gradient(26.57deg, #6852ED 16.67%, #BA43FC 100%);
    border-radius: 40px;
    padding: 1.3rem 3rem;
}


/* ---------SKILLS-------- */

.skills {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14rem;
}

.skills__content {
    margin-right: 3.1rem;
}

.skills__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 44px;
    color: #554D89;
    margin-bottom: 3.2rem;
}

.skills__text {
    font-family: 'Nunito';
    font-size: 1.85rem;
    line-height: 1.5;
    color: #716C80;

    margin-bottom: 6.4rem;
}

/* --------BG__CONTACT------ */
.bg__contact {
    max-width: 192rem;
    height: 17rem;
    margin: 0 auto;
    background: no-repeat center url("/img/Bgcontact.png");
}

.contact__content {
    display: flex;
    justify-content: space-between;
    padding-top: 6.4rem;
}

.contact__title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #554D89;
}

.contact__content > .btn-light {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.4375px;
    padding-top: 0.8rem;
}
